@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Earthdawn Program</h1>    
    <p>
        <div class="btn btn-primary btn-lg">New Character &raquo;</div>
        <div class="btn btn-primary btn-lg">Load Character &raquo;</div>
    </p>
</div>